<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
        <div class="container">
            <h1 class="display-3">RE.juntis</h1>
            <p>Sistema para montagem de grade semestral da UERGS.</p>
            <p>P.s.: Sistema que vai derrubar o Solis.</p>
        </div>
    </div>

<form ng-submit="resUser();">

    <!-- teste -->
    <div class="container">
        <div class="container">
            <p><h4> Pesquisa de interesse das disciplinas </h4></p>
            <p>Pesquisa de interesse das disciplinas para elaboração da grade de horários do próximo semestre. Selecione abaixo as cadeiras as quais deseja cursar.</p>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4><a href="cla1" data-toggle="collapse"> 1º Semestre </a></h4>
                    </div>
                    <div class="panel-body">
                    </div>                  
                    </div>
                    <div id="cla1" class="collapse panel-collapse">
                        <div class="panel-body">
                        <p>This is the panel body.</p>
                        </div>
                        <div class="panel-footer">
                        <p>This is the panel footer.</p>
                        </div>
                    </div>
            </li>
            <li class="list-group-item">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4><a href="#cla2" data-toggle="collapse"> 2º Semestre </a></h4>
                    </div>
                    <div class="panel-body">
                    </div>                  
                    </div>
                    <div id="cla2" class="collapse panel-collapse">
                        <div class="panel-body">
                        <p>This is the panel body.</p>
                        </div>
                        <div class="panel-footer">
                        <p>This is the panel footer.</p>
                        </div>
                    </div>
            </li>
        </ul>
    </div>
    <!-- fim teste -->

</form>